<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fungi Viewer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'fungi_list' %}">Home</a>
        <a href="{% url 'quiz' %}" class="quiz-button">Quiz</a> <!-- Added this line for the Quiz button -->
        <span>
            {% if user.is_authenticated %}
                Logged as: {{ user.username }}
            {% else %}
                Guest
            {% endif %}
        </span>
    </div>

    <div class="content">
        {% block content %}
        <!-- Content will be inserted here from child templates -->
        {% endblock %}
    </div>
</body>
</html>

